@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
#wrapper {
  overflow: hidden;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;x
}
.backgroundImage {
  width: 100vw;
  height: auto;
}
.input-border {
  border: 1px solid #ca58ff;
  /* border-image-source: linear-gradient(90deg, #92bdff 0%, #ca58ff 136.84%); */
}
