#firstHeader {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 41px;
  left: 0;
  top: 0;
  background: #f2a45c;
}
#firstHeader .twoElements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 8px 17px;
  font-size: 18px;
  line-height: 22px;
}
#firstHeader .phoneNumber {
  visibility: hidden;
}

#bgimg {
  position: relative;
  z-index: 99;
}

@media (max-width: 768px) {
  #firstHeader .twoElements {
    padding: 8px 17px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }
  #firstHeader .phoneNumber {
    visibility: visible;
  }
}
#headerNavbar {
  position: relative;
  height: 64px;
  width: 100%;
  left: 0px;
  top: 0;
  background: rgba(218, 218, 218, 0.46);
  padding: 15px;
}
#headerNavbar .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
#headerNavbar .nav li {
  list-style: none;
}
#headerNavbar .nav li p {
  color: #292929;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    text-align: right;
    margin-bottom: 10px;
  }
  .hamburger img {
    margin: 0 auto;
  }
  #myMenu {
    display: none;
  }
  #headerNavbar {
    height: auto;
  }
  #headerNavbar .nav {
    display: none;
  }
  #myMenu.opened {
    display: block;
  }
}
#firstBanner {
  position: relative;
  width: 100%;
  margin: 20px 25px;
}
#firstBanner .bannerQuote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #4a4945;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 468px;
  height: 55px;
  padding: 15px 15px;
}

@media (max-width: 768px) {
  #firstBanner {
    margin: 0;
  }
  #firstBanner .bannerQuote.sm {
    display: none;
  }
}
@media (min-width: 768px) {
  #firstBanner .bannerQuote.md {
    display: none;
  }
}
#secondBanner {
  margin-bottom: 30px;
}
#secondBanner ul {
  padding: 0;
}
#secondBanner ul li {
  list-style: none;
}
#secondBanner span {
  color: #5697e0;
  font-weight: bold;
}
#secondBanner .registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 145px;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  margin: 0;
  background: linear-gradient(90deg, #6d63e1 0%, #477bff 51.56%, #5697e0 91.67%);
  transition: all 0.3s ease;
}
#secondBanner .registerButton:hover {
  height: 55px;
  width: 155px;
}
#secondBanner .backgroundPhoto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  width: 462px;
  height: 470px;
  background: url(../images/Background\ second\ banner.png) center center/cover;
}
#secondBanner .backgroundPhotoMobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  width: 462px;
  height: 470px;
  background: url(../images/Background\ second\ banner.png) center center;
}

@media (min-width: 768px) {
  #secondBanner .backgroundPhotoMobile {
    display: none;
  }
}
@media (max-width: 768px) {
  #secondBanner .backgroundPhotoMobile {
    display: flex;
  }
  #secondBanner .backgroundPhoto {
    display: none;
  }
}
#secondNavbar {
  margin-bottom: 50px;
  height: auto;
  width: 100%;
}
#secondNavbar .navbarDesktop {
  background: #031c43;
  border-radius: 10px;
  position: relative;
}
#secondNavbar .navbarDesktop nav {
  align-items: center;
}
#secondNavbar .navbarDesktop #myMenu2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 20px;
  height: auto;
}
#secondNavbar .navbarDesktop #myMenu2 li {
  list-style: none;
}
#secondNavbar .navbarDesktop #myMenu2 li p {
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
#secondNavbar .navbarDesktop #myMenu2:hover {
  cursor: pointer;
}
#secondNavbar .navbarMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #031c43;
  box-shadow: 0px 37px 46px -11px rgba(74, 73, 69, 0.42);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 10px 15px;
  border-radius: 8px;
}
#secondNavbar .navbarMobile .firstButton {
  background: #f0a35b;
  border-bottom: 3px solid #4a4945;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  #secondNavbar .navbarMobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbarMobile {
    display: flex;
    margin-bottom: 10px;
  }
  .navbarDesktop {
    display: none;
  }
  .navbarMobile img {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  #myMenu2 {
    height: auto;
  }
  .opened {
    display: block !important;
  }
  .navbarDesktop {
    display: block !important;
  }
}
#backgroundHtmlPhoto .backgroundImage {
  width: 100vw;
  position: absolute;
  z-index: -1;
}
#backgroundHtmlPhoto .backgroundImageMobile {
  display: none;
}

@media (max-width: 768px) {
  .backgroundImageMobile {
    display: block;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
}
#bannerWithText {
  position: relative;
  margin-bottom: 30px;
}
#bannerWithText .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  #bannerWithText .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #bannerWithText .mobile {
    display: none;
  }
}
#fourBoxes {
  position: relative;
  margin-bottom: 50px;
}
#fourBoxes .box {
  width: 100%;
  height: 90%;
  text-align: center;
  color: white;
  background: #48719b;
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 11px;
  margin-top: 11px;
}
#fourBoxes .box .boxTitle {
  font-size: 24px;
  font-weight: bold;
}
#fourBoxes .box .boxText {
  font-size: 17px;
  line-height: 29px;
}

#careersYouCanDo {
  margin-bottom: 50px;
}
#careersYouCanDo .careersAllItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#careersYouCanDo .title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
}

@media (max-width: 768px) {
  #careersYouCanDo .careerPathsImage {
    width: 70%;
  }
}
#backgroundHtmlPhoto2 .backgroundImageDesktop2 {
  width: 100vw;
  position: absolute;
  z-index: -1;
}
#backgroundHtmlPhoto2 .backgroundImageMobile2 {
  display: none;
}

@media (max-width: 768px) {
  .backgroundImageMobile2 {
    display: block;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
}
#frontendToBackend {
  position: relative;
}
#frontendToBackend::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: url(../images/html\ code\ background.svg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
#frontendToBackend .frontendToBackendTitle {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
#frontendToBackend .frontendToBackendTitle span {
  font-weight: 700;
  background: linear-gradient(95.73deg, #2357a9 53.99%, rgba(68, 109, 150, 0.66) 70.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#frontendToBackend .frontendToBackendTextDesktop ol,
#frontendToBackend .frontendToBackendTextMobile ol {
  list-style-type: none;
  counter-reset: my-counter;
  padding-left: 0;
}
#frontendToBackend .frontendToBackendTextDesktop ol li,
#frontendToBackend .frontendToBackendTextMobile ol li {
  position: relative;
  padding-left: 2em;
}
#frontendToBackend .frontendToBackendTextDesktop ol li p,
#frontendToBackend .frontendToBackendTextMobile ol li p {
  font-size: 17px;
  line-height: 22px;
}
#frontendToBackend .frontendToBackendTextDesktop ol li:before,
#frontendToBackend .frontendToBackendTextMobile ol li:before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  position: absolute;
  left: 0;
  top: 13px;
  transform: translateY(-50%);
  padding-right: 0.5em;
  font-weight: bold;
}
#frontendToBackend .lastTextTitle {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}

@media (max-width: 768px) {
  #frontendToBackend .frontendToBackendTextDesktop {
    display: none;
  }
  #frontendToBackend .frontendToBackendPhotoDesktop {
    display: none;
  }
  #frontendToBackend .lastTextTitle.desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #frontendToBackend .frontendToBackendTextMobile {
    display: none;
  }
  #frontendToBackend .frontendToBackendTextMobile .frontendToBackendPhotoMobile {
    display: none;
  }
  #frontendToBackend .lastTextTitle.mobile {
    display: none;
  }
}
#boxesWithStudents {
  position: relative;
}
#boxesWithStudents:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 130px;
  height: 700px;
  background: url(../images/studentBoxesBackgroundDesktop.svg) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
#boxesWithStudents .boxesWithStudentsBackgroundDesktop {
  z-index: -1;
  width: 100%;
}
#boxesWithStudents .boxesWithStudentsBackgroundMobile {
  display: none;
}

@media (max-width: 768px) {
  .boxesWithStudentsBackgroundMobile {
    display: block;
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .boxesWithStudentsBackgroundMobile {
    display: none;
  }
}
#boxesWithStudents {
  margin-bottom: 250px;
}
#boxesWithStudents .backgroundPhotoStudents {
  position: absolute;
}
#boxesWithStudents .box {
  width: 363px;
  height: 337px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background: url(../images/boxBackground.svg);
  color: white;
}
#boxesWithStudents .box .studentProfilePicture {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#boxesWithStudents .box .studentName {
  font-weight: bold;
}

#carouselExampleIndicators {
  text-align: center;
}
#carouselExampleIndicators .active {
  background: #f2a45c;
}
#carouselExampleIndicators .carousel-indicators {
  bottom: -50px;
}
#carouselExampleIndicators li {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: none;
}

@media (max-width: 768px) {
  #boxesWithStudents .box {
    display: none;
  }
}
@media (min-width: 768px) {
  #carousel {
    display: none;
  }
}
#softSkillsHardSkillsBanner {
  margin-bottom: 50px;
}
#softSkillsHardSkillsBanner .softSkillsHardSkillsBannerInnerDiv {
  position: relative;
}
#softSkillsHardSkillsBanner .softSkillsHardSkillsBannerInnerDiv::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/html\ code\ background.svg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#softSkillsHardSkillsBanner .bannerTitle {
  font-weight: 600;
  font-size: 36px;
}
#softSkillsHardSkillsBanner .bannerPhotos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
#softSkillsHardSkillsBanner .bannerPhotos .imageBannerSoftSkillsMobile {
  margin: 20px 0;
}
#softSkillsHardSkillsBanner .bannerQuote {
  margin: 15px 10px;
}
#softSkillsHardSkillsBanner .bannerQuote .quoteTitle {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}
#softSkillsHardSkillsBanner .bannerQuote .quoteText {
  position: relative;
}
#softSkillsHardSkillsBanner .bannerQuote .quoteText::before {
  position: absolute;
  top: -30px;
  content: "";
  border-bottom: 2px solid #284b74;
  width: 154px;
  height: 15px;
}

@media (max-width: 768px) {
  #softSkillsHardSkillsBanner .bannerTitle span {
    background: linear-gradient(95.73deg, #2357a9 53.99%, rgba(68, 109, 150, 0.66) 70.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #softSkillsHardSkillsBanner .bannerPhotos {
    display: block;
  }
  #softSkillsHardSkillsBanner .bannerPhotos .imageBannerSoftSkillsDesktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #softSkillsHardSkillsBanner .bannerPhotos .imageBannerSoftSkillsDesktop {
    display: none;
  }
}
#curriculum {
  position: relative;
  padding: 50px;
}
#curriculum ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/curriculum\ tech\ background.svg), url(../images/curriculum\ blue\ background.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}
#curriculum .curriculumTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#curriculum .curriculumTitle p {
  font-size: 30px;
  line-height: 40px;
  color: white;
}
#curriculum .curriculumBox {
  background: #48719b;
  border-radius: 10px;
  padding: 40px 50px;
  margin-bottom: 20px;
}
#curriculum .curriculumBox .curriculumBoxTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  background: linear-gradient(269.84deg, #aac2dc 49.86%, #56bfe0 67.4%, #aac2dc 101.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#curriculum .curriculumBox .curriculumBoxTitle img {
  margin-left: 20px;
}
#curriculum .curriculumBox .curriculumBoxFirstText {
  background: #ffffff;
  width: 394px;
}
#curriculum .curriculumBox .curriculumBoxFirstText p {
  padding: 5px 12px;
  font-size: 22px;
}
#curriculum .curriculumBox .curriculumBoxSecondText {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 768px) {
  #curriculum .curriculumBox .curriculumBoxTitle img {
    display: none;
  }
  #curriculum .curriculumBox .curriculumBoxFirstText {
    width: 100%;
  }
}
#practicalProjects {
  position: relative;
  padding: 80px;
}
#practicalProjects::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/3\ practical\ projects\ background\ after.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
#practicalProjects .practicalProjectsTitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 45px;
}
#practicalProjects .practicalProjectsTitle span {
  color: #f2a45c;
}
#practicalProjects .practicalProjectsDescription {
  margin-bottom: 50px;
}
#practicalProjects .practicalProjectsBox {
  background: #ffffff;
  border: 3px solid #f2a45c;
  border-radius: 10px;
  padding: 25px 45px;
  margin-bottom: 5px;
}
#practicalProjects .practicalProjectsBox .practicalProjectsBoxTitle p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
#practicalProjects .practicalProjectsBox .practicalProjectsBoxTitle .practicalProjectsBoxNumber {
  position: absolute;
  top: -6px;
  left: -370px;
  border: 3px solid #6193c0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #6193c0;
  font-weight: bold;
}
#practicalProjects .practicalProjectsBox .practicalProjectsBoxDescription {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  #practicalProjects .practicalProjectsBox .practicalProjectsBoxTitle .practicalProjectsBoxNumber {
    position: absolute;
    top: -6px;
    left: -69px;
    border: 3px solid #6193c0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #6193c0;
    font-weight: bold;
  }
}
#lecturer {
  padding: 100px;
  position: relative;
}
#lecturer ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/Lecturer\ background\ photo.svg), url(../images/lecturer\ background\ photo\ 2.svg) no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -3;
}
#lecturer .lecturerTitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: white;
}
#lecturer .lecturerBox {
  position: relative;
  background: rgba(3, 28, 67, 0.59);
  border: 3px solid #6193c0;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/Lecturer\ inside\ background.svg) no-repeat;
  background-size: cover;
  background-position: center center;
}
#lecturer .lecturerBox .lecturerImage img {
  width: 100%;
  height: 100%;
}
#lecturer .lecturerBox .lecturerName {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#lecturer .lecturerBox .lecturerName::after {
  top: -13px;
  position: absolute;
  content: "";
  border-bottom: 6px solid #fff;
  width: 80%;
  left: 0;
  z-index: -1;
}
#lecturer .lecturerBox .lecturerName p {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}
#lecturer .lecturerBox .lecturerDescription p {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
#lecturer .lecturerBox .lecturerDescriptionMobile {
  display: none;
}

@media (max-width: 768px) {
  #lecturer .lecturerBox .lecturerName img {
    display: none;
  }
  #lecturer .lecturerBox .lecturerDescription .lecturerDescriptionMobile {
    display: block;
  }
  #lecturer .lecturerBox .lecturerDescription .lecturerDescriptionDesktop {
    display: none;
  }
}
#priceBanner {
  position: relative;
  padding: 80px;
}
#priceBanner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/pricebannerbackground.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
#priceBanner .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 50px;
}
#priceBanner .title span {
  color: rgb(101, 169, 219);
}
#priceBanner .priceBox {
  width: 100%;
  height: 953px;
  background: #ffffff;
  border: 1px solid #0c3b83;
  border-radius: 10px;
}
#priceBanner .priceBox p {
  margin: 0;
}
#priceBanner .priceBox .transformPriceTag {
  position: absolute;
  top: 0px;
  left: -55px;
  transform: rotate(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2a45c;
  border-radius: 10px;
  height: 54.88px;
  width: 285px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#priceBanner .priceBox .transformPriceTag.firstLeft {
  top: 90px;
}
#priceBanner .priceBox .transformPriceTag.secondRight {
  transform: rotate(30deg);
  left: 320px;
  top: 15px;
}
#priceBanner .priceBox .priceBoxTitle {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin: 30px;
}
#priceBanner .priceBox .priceBoxTitle .price {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #0c3b83;
}
#priceBanner .priceBox .priceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 32px;
  gap: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  background: #a5eaee;
  width: 216px;
  height: 64px;
}
#priceBanner .priceBox .priceBoxDescription {
  width: 423px;
  height: 223px;
  margin: 35px 32px;
  background: linear-gradient(250.26deg, #0b1676 32.92%, #0d5bb2 58.68%, #6b9ecf 100%);
  border: 3px solid #f2a45c;
  border-radius: 10px;
}
#priceBanner .priceBox .priceBoxDescription p {
  padding: 25px;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
#priceBanner .priceBox .priceBoxDescriptionList {
  font-size: 24px;
  line-height: 29px;
  margin: 20px 32px;
  color: #000000;
}
#priceBanner .priceBox .priceBoxDescriptionList p {
  line-height: 2.3;
}
#priceBanner .priceBox.firstBox {
  margin-top: 87px;
}
#priceBanner .priceBox.secondBox {
  background: #031c43;
}
#priceBanner .priceBox.secondBox .priceBoxTitle {
  color: white;
}
#priceBanner .priceBox.secondBox .price {
  color: rgb(101, 169, 219);
}
#priceBanner .priceBox.secondBox .priceBoxDescriptionList {
  color: white;
}
#priceBanner .mostPopularButton {
  position: relative;
  top: 0;
  left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 86px;
  background: #65a9db;
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  border-radius: 10px 10px 0px 0px;
}
#priceBanner .mostPopularButton p {
  margin: 0;
}
#priceBanner .lastParagraph {
  margin: 50px 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
#priceBanner .lastParagraph span {
  background: #f2a45c;
  font-weight: 700;
}
#priceBanner .lastButton {
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #3227b3 0%, #477bff 51.56%, #5697e0 91.67%);
  border-radius: 10px;
  width: 171px;
  height: 44px;
}
#priceBanner .lastButton p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
#priceBanner .lastButton:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .secondRight {
    top: 175px !important;
  }
  .mostPopularButton {
    margin-top: 150px;
  }
}
#advisorBanner {
  position: relative;
  padding: 30px 0px 0px 0px;
}
#advisorBanner ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #031c43;
  z-index: -1;
}
#advisorBanner .advisorBannerTitle {
  margin-bottom: 30px;
}
#advisorBanner .advisorBannerTitle p {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #82817f;
}
#advisorBanner .advisorBannerTitle p span {
  color: rgb(171, 197, 221);
}
#advisorBanner .advisorPictureDesktop {
  position: absolute;
  top: 75px;
  left: 50px;
}
#advisorBanner .advisorBannerDescription {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
#advisorBanner .advisorBannerWithBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/advisorbackground1.svg), url(../images/advisorbackground2.svg);
  width: 400px;
  height: 248px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
#advisorBanner .advisorBannerWithBackground p {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background-color: white;
}
#advisorBanner .advisorLastButton {
  background: #abc5dd;
  border-radius: 10px;
  gap: 10px;
  width: 148px;
  height: 44px;
  margin-bottom: 60px;
}
#advisorBanner .advisorLastButton p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 20px;
  color: black;
}

@media (max-width: 768px) {
  #advisorBanner .advisorPictureDesktop {
    display: none;
  }
  #advisorBanner .advisorPictureMobile {
    display: block;
  }
}
@media (min-width: 768px) {
  #advisorBanner .advisorPictureDesktop {
    display: block;
  }
  #advisorBanner .advisorPictureMobile {
    display: none;
  }
}
#formBanner {
  position: relative;
  padding-top: 60px;
  padding-bottom: 110px;
}
#formBanner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/form\ background.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
#formBanner .formBannerTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
#formBanner .formBannerTitle span {
  color: rgb(101, 169, 219);
}
#formBanner .formBannerTitleDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 15px;
  padding-left: 70px;
}
#formBanner .formBannerTitleDescription span {
  color: #666666;
}
#formBanner .mainForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 70px;
}
#formBanner .mainForm form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#formBanner .mainForm form label {
  margin: 10px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #606060;
}
#formBanner .mainForm form input {
  width: 592px;
  padding: 12px;
}
#formBanner .mainForm form select {
  width: 592px;
  padding: 12px;
}
#formBanner .lastDescription {
  margin-left: 70px;
  width: 592px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #858585;
}
#formBanner .lastButton {
  background: #1f1e9e;
  border: 1px solid #1452f5;
  border-radius: 10px;
  width: 483px;
  height: 64px;
  margin-left: 108px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0.3s ease;
}
#formBanner .lastButton:hover {
  cursor: pointer;
  color: #1f1e9e;
  background: #ffffff;
}

@media (max-width: 768px) {
  #formBanner .formBannerTitleDescription {
    padding-left: 0;
  }
  #formBanner .mainForm {
    padding-left: 0;
  }
  #formBanner .mainForm form input {
    width: 500px;
  }
  #formBanner .mainForm form select {
    width: 500px;
  }
  #formBanner .lastDescription {
    margin-left: 0;
    width: 500px;
  }
  #formBanner .lastButton {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */