// FIRST HEADER
#firstHeader {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 41px;
  left: 0;
  top: 0;
  background: #f2a45c;
  .twoElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 8px 17px;
    font-size: 18px;
    line-height: 22px;
  }
  .phoneNumber {
    visibility: hidden;
  }
}
#bgimg {
  position: relative;
  z-index: 99;
}
@media (max-width: 768px) {
  #firstHeader {
    .twoElements {
      padding: 8px 17px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
    }
    .phoneNumber {
      visibility: visible;
    }
  }
}

// SECOND HEADER - NAVBAR

#headerNavbar {
  position: relative;
  //   z-index: 99;
  height: 64px;
  width: 100%;
  left: 0px;
  top: 0;
  background: rgba(218, 218, 218, 0.46);
  padding: 15px;

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    li {
      list-style: none;
      p {
        color: #292929;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    text-align: right;
    margin-bottom: 10px;
  }
  .hamburger img {
    margin: 0 auto;
  }
  #myMenu {
    display: none;
  }
  #headerNavbar {
    height: auto;
    .nav {
      display: none;
    }
  }
  #myMenu.opened {
    display: block;
  }
}

// FIRST BANNER

#firstBanner {
  position: relative;
  width: 100%;
  margin: 20px 25px;
  //   top: 105px;
  .bannerQuote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #4a4945;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    width: 468px;
    height: 55px;
    padding: 15px 15px;
  }
}
@media (max-width: 768px) {
  #firstBanner {
    margin: 0;
    .bannerQuote.sm {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  #firstBanner {
    .bannerQuote.md {
      display: none;
    }
  }
}

// SECOND BANNER

#secondBanner {
  margin-bottom: 30px;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  span {
    color: #5697e0;
    font-weight: bold;
  }
  .registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 145px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    margin: 0;
    background: linear-gradient(
      90deg,
      #6d63e1 0%,
      #477bff 51.56%,
      #5697e0 91.67%
    );
    transition: all 0.3s ease;
    &:hover {
      height: 55px;
      width: 155px;
      cursor: pointer;
    }
  }

  .backgroundPhoto {
    display: flex;
    // position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    width: 462px;
    height: 470px;
    background: url(../images/Background\ second\ banner.png) center center /
      cover;
  }
  .backgroundPhotoMobile {
    display: flex;
    // left: 0px;
    // position: relative;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    width: 462px;
    height: 470px;
    background: url(../images/Background\ second\ banner.png) center center;
  }
}
@media (min-width: 768px) {
  #secondBanner {
    .backgroundPhotoMobile {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  #secondBanner {
    .backgroundPhotoMobile {
      display: flex;
    }
    .backgroundPhoto {
      display: none;
    }
  }
}

//SECOND BLUE NAVBAR

#secondNavbar {
  margin-bottom: 50px;
  height: auto;
  width: 100%;
  .navbarDesktop {
    background: #031c43;
    border-radius: 10px;
    position: relative;
    nav {
      align-items: center;
    }
    #myMenu2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 90px;
      padding-top: 25px;
      padding-right: 10px;
      padding-left: 20px;
      height: auto;
      li {
        list-style: none;
        p {
          color: #ffffff;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .navbarMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #031c43;
    box-shadow: 0px 37px 46px -11px rgba(74, 73, 69, 0.42);
    backdrop-filter: blur(9px);
    padding: 10px 15px;
    border-radius: 8px;
    .firstButton {
      background: #f0a35b;
      border-bottom: 3px solid #4a4945;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
      padding: 10px 20px;
    }
  }
}
@media (min-width: 768px) {
  #secondNavbar {
    .navbarMobile {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .navbarMobile {
    display: flex;
    margin-bottom: 10px;
  }
  .navbarDesktop {
    display: none;
  }
  .navbarMobile img {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  #myMenu2 {
    height: auto;
  }

  .opened {
    display: block !important;
  }
  .navbarDesktop {
    display: block !important;
  }
}

// backgroundHtmlPhoto
#backgroundHtmlPhoto {
  .backgroundImage {
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
  .backgroundImageMobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .backgroundImageMobile {
    display: block;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
}

//BANNER WITH TEXT

#bannerWithText {
  position: relative;
  margin-bottom: 30px;
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  #bannerWithText {
    .desktop {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  #bannerWithText {
    .mobile {
      display: none;
    }
  }
} // to be continued for functionality

// FOUR BOXES

#fourBoxes {
  position: relative;
  margin-bottom: 50px;
  .box {
    width: 100%;
    height: 90%;
    text-align: center;
    color: white;
    background: #48719b;
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 11px;
    margin-top: 11px;
    .boxTitle {
      font-size: 24px;
      font-weight: bold;
    }
    .boxText {
      font-size: 17px;
      line-height: 29px;
    }
  }
}

// careersYouCanDo

#careersYouCanDo {
  margin-bottom: 50px;
  .careersAllItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  #careersYouCanDo {
    .careerPathsImage {
      width: 70%;
    }
  }
}
// // backgroundHtmlPhoto2
#backgroundHtmlPhoto2 {
  .backgroundImageDesktop2 {
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
  .backgroundImageMobile2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .backgroundImageMobile2 {
    display: block;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
}

// frontendToBackend

#frontendToBackend {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: url(../images/html\ code\ background.svg);
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }
  .frontendToBackendTitle {
    width: 100%;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    span {
      font-weight: 700;
      background: linear-gradient(
        95.73deg,
        #2357a9 53.99%,
        rgba(68, 109, 150, 0.66) 70.56%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .frontendToBackendTextDesktop,
  .frontendToBackendTextMobile {
    ol {
      list-style-type: none;
      counter-reset: my-counter;
      padding-left: 0;
    }

    ol li {
      position: relative;
      padding-left: 2em;
      p {
        font-size: 17px;
        line-height: 22px;
      }
    }

    ol li:before {
      content: counter(my-counter, decimal-leading-zero);
      counter-increment: my-counter;
      position: absolute;
      left: 0;
      top: 13px;
      transform: translateY(-50%);
      padding-right: 0.5em;
      font-weight: bold;
    }
  }
  .lastTextTitle {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #frontendToBackend {
    .frontendToBackendTextDesktop {
      display: none;
    }
    .frontendToBackendPhotoDesktop {
      display: none;
    }
    .lastTextTitle.desktop {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  #frontendToBackend {
    .frontendToBackendTextMobile {
      display: none;
      .frontendToBackendPhotoMobile {
        display: none;
      }
    }
    .lastTextTitle.mobile {
      display: none;
    }
  }
}

// boxesWithStudents

#boxesWithStudents {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 130px;
    height: 700px;
    background: url(../images/studentBoxesBackgroundDesktop.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
  }
  .boxesWithStudentsBackgroundDesktop {
    z-index: -1;
    width: 100%;
    // height: 800px;
  }
  .boxesWithStudentsBackgroundMobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .boxesWithStudentsBackgroundMobile {
    display: block;
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .boxesWithStudentsBackgroundMobile {
    display: none;
  }
}

#boxesWithStudents {
  margin-bottom: 250px;
  .backgroundPhotoStudents {
    position: absolute;
  }
  .box {
    width: 363px;
    height: 337px;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    margin-top: 20px;
    padding: 10px 20px;
    background: url(../images/boxBackground.svg);
    color: white;

    .studentProfilePicture {
      border-radius: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .studentName {
      font-weight: bold;
    }
  }
}

#carouselExampleIndicators {
  text-align: center;
  .active {
    background: #f2a45c;
  }
  .carousel-indicators {
    bottom: -50px;
  }
  li {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: none;
  }
}

@media (max-width: 768px) {
  #boxesWithStudents {
    .box {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  #carousel {
    display: none;
  }
}

// softSkillsHardSkillsBanner

#softSkillsHardSkillsBanner {
  margin-bottom: 50px;
  .softSkillsHardSkillsBannerInnerDiv {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(../images/html\ code\ background.svg) center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
  .bannerTitle {
    font-weight: 600;
    font-size: 36px;
  }
  .bannerPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    .imageBannerSoftSkillsMobile {
      margin: 20px 0;
    }
  }
  .bannerQuote {
    margin: 15px 10px;
    .quoteTitle {
      width: 200px;
      height: 50px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 50px;
    }
    .quoteText {
      position: relative;
      &::before {
        position: absolute;
        top: -30px;
        content: "";
        border-bottom: 2px solid #284b74;
        width: 154px;
        height: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  #softSkillsHardSkillsBanner {
    .bannerTitle {
      span {
        background: linear-gradient(
          95.73deg,
          #2357a9 53.99%,
          rgba(68, 109, 150, 0.66) 70.56%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .bannerPhotos {
      display: block;
      .imageBannerSoftSkillsDesktop {
        display: none;
      }
    }
  }
}
@media (min-width: 768px) {
  #softSkillsHardSkillsBanner {
    .bannerPhotos {
      .imageBannerSoftSkillsDesktop {
        display: none;
      }
    }
  }
}

// curriculum

#curriculum {
  position: relative;
  padding: 50px;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/curriculum\ tech\ background.svg),
      url(../images/curriculum\ blue\ background.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .curriculumTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 30px;
      line-height: 40px;
      color: white;
    }
  }
  .curriculumBox {
    background: #48719b;
    border-radius: 10px;
    padding: 40px 50px;
    margin-bottom: 20px;
    .curriculumBoxTitle {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      background: linear-gradient(
        269.84deg,
        #aac2dc 49.86%,
        #56bfe0 67.4%,
        #aac2dc 101.66%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      img {
        margin-left: 20px;
      }
    }
    .curriculumBoxFirstText {
      background: #ffffff;
      width: 394px;
      p {
        padding: 5px 12px;
        font-size: 22px;
      }
    }
    .curriculumBoxSecondText {
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}
@media (max-width: 768px) {
  #curriculum {
    .curriculumBox {
      .curriculumBoxTitle {
        img {
          display: none;
        }
      }
      .curriculumBoxFirstText {
        width: 100%;
      }
    }
  }
}

//practicalProjects

#practicalProjects {
  position: relative;
  padding: 80px;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/3\ practical\ projects\ background\ after.svg)
      no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
  .practicalProjectsTitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 45px;
    span {
      color: #f2a45c;
    }
  }
  .practicalProjectsDescription {
    margin-bottom: 50px;
  }
  .practicalProjectsBox {
    background: #ffffff;
    border: 3px solid #f2a45c;
    border-radius: 10px;
    padding: 25px 45px;
    margin-bottom: 5px;
    .practicalProjectsBoxTitle {
      p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
      .practicalProjectsBoxNumber {
        position: absolute;
        top: -6px;
        left: -370px;
        border: 3px solid #6193c0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #6193c0;
        font-weight: bold;
      }
    }
    .practicalProjectsBoxDescription {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
@media (max-width: 768px) {
  #practicalProjects {
    .practicalProjectsBox {
      .practicalProjectsBoxTitle {
        .practicalProjectsBoxNumber {
          position: absolute;
          top: -6px;
          left: -69px;
          border: 3px solid #6193c0;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: #6193c0;
          font-weight: bold;
        }
      }
    }
  }
}
//

#lecturer {
  padding: 100px;
  position: relative;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/Lecturer\ background\ photo.svg),
      url(../images/lecturer\ background\ photo\ 2.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -3;
  }
  .lecturerTitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: white;
  }
  .lecturerBox {
    position: relative;
    background: rgba(3, 28, 67, 0.59);
    border: 3px solid #6193c0;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/Lecturer\ inside\ background.svg) no-repeat;
    background-size: cover;
    background-position: center center;

    .lecturerImage {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .lecturerName {
      position: relative;
      &::after {
        top: -13px;
        position: absolute;
        content: "";
        border-bottom: 6px solid #fff;
        width: 80%;
        left: 0;
        z-index: -1;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: white;
      }
    }
    .lecturerDescription {
      p {
        font-size: 20px;
        line-height: 29px;
        color: #ffffff;
      }
    }
    .lecturerDescriptionMobile {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  #lecturer {
    .lecturerBox {
      .lecturerName {
        img {
          display: none;
        }
      }
      .lecturerDescription {
        .lecturerDescriptionMobile {
          display: block;
        }
        .lecturerDescriptionDesktop {
          display: none;
        }
      }
    }
  }
}

//priceBanner

#priceBanner {
  position: relative;
  padding: 80px;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/pricebannerbackground.svg) no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
  .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 50px;
    span {
      color: rgba(101, 169, 219, 1);
    }
  }
  .priceBox {
    width: 100%;
    height: 953px;
    background: #ffffff;
    border: 1px solid #0c3b83;
    border-radius: 10px;

    p {
      margin: 0;
    }
    .transformPriceTag {
      position: absolute;
      top: 0px;
      left: -55px;
      transform: rotate(-30deg);
      display: flex;
      justify-content: center;
      align-items: center;

      background: #f2a45c;
      border-radius: 10px;
      height: 54.88px;
      width: 285px;

      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      &.firstLeft {
        top: 90px;
      }
      &.secondRight {
        transform: rotate(30deg);
        left: 320px;
        top: 15px;
      }
    }
    .priceBoxTitle {
      text-align: center;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      margin: 30px;
      .price {
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #0c3b83;
      }
    }
    .priceButton {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 32px;
      gap: 10px;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      background: #a5eaee;
      width: 216px;
      height: 64px;
    }
    .priceBoxDescription {
      width: 423px;
      height: 223px;
      margin: 35px 32px;
      background: linear-gradient(
        250.26deg,
        #0b1676 32.92%,
        #0d5bb2 58.68%,
        #6b9ecf 100%
      );
      border: 3px solid #f2a45c;
      border-radius: 10px;
      p {
        padding: 25px;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
      }
    }
    .priceBoxDescriptionList {
      font-size: 24px;
      line-height: 29px;
      margin: 20px 32px;
      color: #000000;
      p {
        line-height: 2.3;
      }
    }
    &.firstBox {
      margin-top: 87px;
    }
    &.secondBox {
      background: #031c43;
      .priceBoxTitle {
        color: white;
      }
      .price {
        color: rgba(101, 169, 219, 1);
      }
      .priceBoxDescriptionList {
        color: white;
      }
    }
  }
  .mostPopularButton {
    position: relative;
    top: 0;
    left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 86px;
    background: #65a9db;
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    border-radius: 10px 10px 0px 0px;
    p {
      margin: 0;
    }
  }
  .lastParagraph {
    margin: 50px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    span {
      background: #f2a45c;
      font-weight: 700;
    }
  }
  .lastButton {
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient(
      90deg,
      #3227b3 0%,
      #477bff 51.56%,
      #5697e0 91.67%
    );
    border-radius: 10px;
    width: 171px;
    height: 44px;
    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      color: #ffffff;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .secondRight {
    top: 175px !important;
  }
  .mostPopularButton {
    margin-top: 150px;
  }
}

//advisorBanner

#advisorBanner {
  position: relative;
  padding: 30px 0px 0px 0px;
  ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #031c43;
    z-index: -1;
  }
  .advisorBannerTitle {
    margin-bottom: 30px;
    p {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #82817f;
      span {
        color: rgba(171, 197, 221, 1);
      }
    }
  }
  .advisorPictureDesktop {
    position: absolute;
    top: 75px;
    left: 50px;
  }
  .advisorBannerDescription {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  .advisorBannerWithBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/advisorbackground2.svg),
      url(../images/advisorbackground1.svg);
    width: 400px;
    height: 248px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      background-color: white;
    }
  }
  .advisorLastButton {
    background: #abc5dd;
    border-radius: 10px;
    gap: 10px;
    width: 148px;
    height: 44px;
    margin-bottom: 60px;

    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 20px;
      color: black;
    }
  }
}
@media (max-width: 768px) {
  #advisorBanner {
    .advisorPictureDesktop {
      display: none;
    }
    .advisorPictureMobile {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  #advisorBanner {
    .advisorPictureDesktop {
      display: block;
    }
    .advisorPictureMobile {
      display: none;
    }
  }
}
// formBanner
#formBanner {
  position: relative;
  padding-top: 60px;
  padding-bottom: 110px;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/form\ background.svg) no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
  .formBannerTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    span {
      color: rgba(101, 169, 219, 1);
    }
  }
  .formBannerTitleDescription {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    padding-left: 70px;
    span {
      color: #666666;
    }
  }
  .mainForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
    form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      label {
        margin: 10px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #606060;
      }
      input {
        width: 592px;
        padding: 12px;
      }
      select {
        width: 592px;
        padding: 12px;
      }
    }
  }
  .lastDescription {
    margin-left: 70px;
    width: 592px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #858585;
  }
  .lastButton {
    background: #1f1e9e;
    border: 1px solid #1452f5;
    border-radius: 10px;
    width: 483px;
    height: 64px;
    margin-left: 108px;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      color: #1f1e9e;
      background: #ffffff;
    }
  }
}
@media (max-width: 768px) {
  #formBanner {
    .formBannerTitleDescription {
      padding-left: 0;
    }
    .mainForm {
      padding-left: 0;
      form {
        input {
          width: 500px;
        }
        select {
          width: 500px;
        }
      }
    }
    .lastDescription {
      margin-left: 0;
      width: 500px;
    }
    .lastButton {
      margin-left: 0;
    }
  }
}
